/*for WebKit*/
 -webkit-appearance: none;
 /* for FF */
	-moz-appearance: none;
	text-indent: 0.01px; 
	-o-text-overflow: ''; 
	   text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none!important;
